body{
   flex: 1;
}

.row{
    width: 80%;
    max-width: 1170px;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    padding: 5rem 0;
    justify-content:center ;
    padding-left: 30px;
}



.row .imgwrapper img{
    width: 60%;
    height: 80%;
    border: 1;
border-radius: 60px;
    object-fit: cover;
    transition: 0.3s;
}

.row .imgwrapper:hover img{

    transform: scale(1.25);
}

.row .contentwrapper{
    width: 100%;
   top: 20px;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}


span{

    top: 20px;
}

.contents{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}
.socio{
    display: flex;
    flex-direction: row;
    
}
.icons{
    width: 30px;
}

.buy-btn{
    width: 120px;
    height: 60px;
    background-color: #ccb59f;
    border-color: #ccb59f;
    border-radius: 10px;

}